body{
    font-family:"Inter-Regular";
    font-size: 12px;
    background-color:#f6f6f6;
    
}
.para1
{
    font-family:"Playfair Display";
    font-size: 20px;
    
}
.btn-xl
{
    padding: 4px 60px;
    border-radius: 5px;
}
